
html,body{
  height:100%;
  margin:0;
  overflow:hidden;
}
body{
    background-color: #ff0303;
    background-image: url("https://wallpapers.com/images/featured/cool-f1-fzvtojbyn8t1sjnk.jpg");
 background-repeat: no-repeat;
  background-position:center;
  background-size: cover;
  min-height:100vh;
  z-index:1;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Menu for Navigation */

.nav{ 
  justify-content: center;
  width:100%;
  height: 5em;
  background-color: black;
  opacity: 0.8;
  margin:0;
  padding:0;
  border:none;
  align-items: center;
  display: flex;
  position:absolute;
  z-index: 10;
}
 

.nav a{ 
  margin-bottom: .5em;
  position: relative;
  z-index: 999;
  font-size:1em;
    font-family: "Inter", sans-serif;
  z-index: 12;
  text-decoration: none;
  color:white;
  padding: 2em;
  z-index: 12;
}

  
  .navlink img{
    width:3em;
    height:auto;
    justify-content: center;
    align-items: center;
    margin:0;
    padding:0;
    position: relative;
    z-index: 12;
}
  .nav-links a:hover{
    color:#fc353f;
  }
  .hamburger {
    display: none; /* Hide by default */
    font-size: 2em;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    z-index: 9;
}

/* End of Nav */

/* Meet the Drivers/home */

  
  .wrapper{
    align-items: center;
    height: 100%;
 margin-left:5em;
  bottom:50vh;
  width:90%;

}
#page-content{
  position: static;
  margin-top:5em;
}

.items{
    display: flex;
    gap: 0.2rem;
    perspective: calc(var(--index) * 65);
  justify-content: center;
  padding-left:2em;
  padding-right: 2em;
  
}

.item{
    width: calc(var(--index) * 9);
    height: calc(var(--index) * 30);
    background-color: #222;
    background-size: cover;
    background-position: center;
    cursor: pointer;
    filter: grayscale(1) brightness(.5);
    transition: transform 1.25s var(--transition), filter 3s var(--transition), width 1.25s var(--transition);
    will-change: transform, filter, rotateY, width;
  
}

.item::before, .item::after {
  content: '';
  position: absolute;
  height: 100%;
  width: 20px;
  right: calc(var(--index) * .5);
  z-index: -1; /* Ensure pseudo-elements are behind the image */
}

/* Overlay on item */

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent background */
  color: white;
  display: flex;
  flex-direction: column; /* Stack items vertically */
  justify-content: center; /* Center items vertically */
  align-items: center; /* Center items horizontally */
  opacity: 0; /* Initially hidden */
  transition: opacity 0.3s ease; /* Smooth transition */
  z-index: 2; /* Ensure the overlay is on top of the image */
  font-family: "Audiowide", sans-serif;
  font-weight: 400;
  font-style: normal;
 
}

.item.clicked .overlay {
  opacity: 1; /* Show the overlay when the item is clicked */
}

.overlay-text {
  margin-bottom: 10px; /* Space between the text and the link */
}

.driver-link {
  color: white; /* Link color */
  text-decoration: none; /* Remove underline */
  z-index: 2; /* Ensure the link is above the image */
  text-align: center;
}

.driver-link:hover {
  color:#ff0303;
}

.item::after {
  left: calc(var(--index) * .5);
}

.items .item:hover {
  filter: inherit;
  transform: translateZ(calc(var(--index) * 8));
}

/*Right*/

.items .item:hover + *{
    filter: inherit;
    transform: translateZ(calc(var(--index) * 6)) rotateY(35deg);
    z-index: -1;
}

.items .item:hover + * + *{
    filter: inherit;
    transform: translateZ(calc(var(--index) * 4)) rotateY(40deg);
    z-index: -2;
}

.items .item:hover + * + * + *{
    filter: inherit;
    transform: translateZ(calc(var(--index) * 2)) rotateY(30deg);
    z-index: -3;
}

.items .item:hover + * + * + * + *{
    filter: inherit;
    transform: translateZ(calc(var(--index) * .6)) rotateY(15deg);
    z-index: -4;
}


/*Left*/

.items .item:has( + :hover){
    filter: inherit;
    transform: translateZ(calc(var(--index) * 6)) rotateY(-50deg);
}

.items .item:has( + * + :hover){
    filter: inherit;
    transform: translateZ(calc(var(--index) * 4)) rotateY(-40deg);
}

.items .item:has( + * + * + :hover){
    filter: inherit;
    transform: translateZ(calc(var(--index) * 2)) rotateY(-30deg);
}

.items .item:has( + * + * + * + :hover){
    filter: inherit;
    transform: translateZ(calc(var(--index) * .6)) rotateY(-15deg);
}

.items .item:active, .items .item:focus {
    width: 28vw;
    filter: inherit;
    z-index: 100;
    transform: translateZ(calc(var(--index) * 10));
    margin: 0 .05vw;
}
/* fonts 
.hind-regular {
  font-family: "Hind", sans-serif;
  font-weight: 400;
  font-style: normal;
}
*/


  /* Teams Page Table */
  @keyframes slideOut {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(170%);
    }
}

.slide-out {
    animation: slideOut 1s forwards;
}

  #page-content-teams{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height:100%;
    position:relative;
    z-index: 5;
    overflow-y: auto;
  }

  .content-table {
      width: 100%;
      height: 100%;
      border-collapse: collapse;
      font-size: 1em;
      text-align: left;
      position:relative;
      margin-top:19em;
      z-index: 5;
  }

.content-table th, .content-table td {
   
    border: none;
}

.content-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

.content-table tbody tr {
    background-color:#f1f1f1;
    font-family: "Audiowide", serif;
  font-weight: 400;
  font-style: normal;
    font-size:1.8em;
    color:rgb(73, 1, 1);
    text-align: center;
}


.content-table tbody tr:hover {
    background-color: #d1cece;
}

  :root{
      --index: calc(1vw + 1vh);
      --transition: cubic-bezier(.1, .7, 0, 1);
  }
  
  .container{
    position:relative;
  }
      
/* Live Races Page */
#page-content-live{
  position: absolute;
  height:100%;
  width:100%;
  margin-top:5em;
}

  embed {
    width: 100%;
    height: 100%;
    border: none; /* Remove border if any */
}

    /* Phone sizing */
    @media (max-width:780px){
      html,body{
        overflow-y:auto;
        height:100%;
        margin:0;
        width: 100%;
      }

      /* Mobile Menu */

      .nav{
        flex-direction: column;
            height: auto;
            position: relative;
            z-index: 10;
            
      }
      .nav a{
        padding:1em;
        text-align: center;
      
      }
      .hamburger {
        display: block;
       z-index: 13;
       margin:0;
       padding-bottom:1em;
       
      }

      .navlink img{
        width:3em;
        height:auto;
        justify-content: center;
        align-items: center;
        padding:0;
        margin:0;
        display: flex;
    }

      .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: black;
        position: absolute;
        top: 7em;
        left: 0;
        z-index:10;
    }

    /* End of Nav Mobile */

    /* Live races mobile */

    #page-content-live{
      position: fixed;
      height:100%;
      width:100%;
      margin-top:0em;
    }

      /* Mobile Teams Table */
      #page-content-teams{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height:100%;
        position:absolute;
        z-index: 5;
        overflow-y: auto;
      }
      .content-table{
        display: flex;
        justify-content: center;  
        height:100%;
        position:absolute;
        margin-top:0em;
        width:auto;
        
      }
      tbody{
        width:auto
      }
      
      .teamlabel{
        display:none;
      }

      .container{
        position:relative;
        align-items: center;
        height:100%;
      }
          
      
      .wrapper{
          align-items: center;
          height: 100%;
        margin:0vh;
        bottom:50vh;
        
      }

      /* Meet the Drivers Mobile */
      /* scroll function */
  

      .wrapper{
        align-items: center;
        height: 100%;
      bottom:50vh;
      width:80%;
      margin-left:2em;

    
    }
    #page-content{
      position: static;
      margin-top:2em;
    }
    
    .items{
        display: flex;
        gap: 0.2rem;
        perspective: calc(var(--index) * 85);
      justify-content: center;
      padding-left:2em;
      padding-right: 2em;
      
    }
    
    .item{
        width:5em;
        height: calc(var(--index) * 40);
        background-color: #222;
        background-size: cover;
        background-position: center;
        cursor: pointer;
        filter: grayscale(1) brightness(.5);
        transition: transform 1.25s var(--transition), filter 3s var(--transition), width 1.25s var(--transition);
        will-change: transform, filter, rotateY, width;
      
    }
    .item.clicked {
      width: 15em; /* Increase width when clicked */
      
    }
    
    .item::before, .item::after {
      content: '';
      position: absolute;
      height: 100%;
      width: 20px;
      right: calc(var(--index) * .5);
      z-index: -1; /* Ensure pseudo-elements are behind the image */

    }
    
    /* Overlay on item */
    
    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent background */
      color: white;
      display: flex;
      flex-direction: column; /* Stack items vertically */
      justify-content: center; /* Center items vertically */
      align-items: center; /* Center items horizontally */
      opacity: 0; /* Initially hidden */
      transition: opacity 0.3s ease; /* Smooth transition */
      z-index: 2; /* Ensure the overlay is on top of the image */
      font-family: "Audiowide", sans-serif;
      font-weight: 400;
      font-style: normal;
     
    }
    
    .item.clicked .overlay {
      opacity: 1; /* Show the overlay when the item is clicked */
    }
    
    .overlay-text {
      margin-bottom: 10px; /* Space between the text and the link */
    }
    
    .driver-link {
      color: white; /* Link color */
      text-decoration: none; /* Remove underline */
      z-index: 2; /* Ensure the link is above the image */
      text-align: center;
    }
    
    .driver-link:hover {
      color:#ff0303;
    }
    
    .item::after {
      left: calc(var(--index) * .5);
    }
    
    .items .item:hover {
      filter: inherit;
      transform: translateZ(calc(var(--index) * 8));
    }
    
    /*Right*/
    
    .items .item:hover + *{
        filter: inherit;
        transform: translateZ(calc(var(--index) * 6)) rotateY(35deg);
        z-index: -1;
    }
    
    .items .item:hover + * + *{
        filter: inherit;
        transform: translateZ(calc(var(--index) * 4)) rotateY(40deg);
        z-index: -2;
    }
    
    .items .item:hover + * + * + *{
        filter: inherit;
        transform: translateZ(calc(var(--index) * 2)) rotateY(30deg);
        z-index: -3;
    }
    
    .items .item:hover + * + * + * + *{
        filter: inherit;
        transform: translateZ(calc(var(--index) * .6)) rotateY(15deg);
        z-index: -4;
    }
    
    
    /*Left*/
    
    .items .item:has( + :hover){
        filter: inherit;
        transform: translateZ(calc(var(--index) * 6)) rotateY(-50deg);
    }
    
    .items .item:has( + * + :hover){
        filter: inherit;
        transform: translateZ(calc(var(--index) * 4)) rotateY(-40deg);
    }
    
    .items .item:has( + * + * + :hover){
        filter: inherit;
        transform: translateZ(calc(var(--index) * 2)) rotateY(-30deg);
    }
    
    .items .item:has( + * + * + * + :hover){
        filter: inherit;
        transform: translateZ(calc(var(--index) * .6)) rotateY(-15deg);
    }
    
    .items .item:active, .items .item:focus {
        width: 28vw;
        filter: inherit;
        z-index: 100;
        transform: translateZ(calc(var(--index) * 10));
        margin: 0 .05vw;
    }